<h3 class="mb-3">List Incidents</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Priority</th>
        <th scope="col">Domain</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Creator</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Medium</td>
        <td>craigslist.org</td>
        <td>DNS Issue</td>
        <td>DNS not working properly</td>
        <td>Wyndham Garrit</td>
        <td>5555555</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Low</td>
        <td>aol.com</td>
        <td>How to configure in Android</td>
        <td>Hi I would like to configure this aol email account in my Android device</td>
        <td>Redford Russilll</td>
        <td>5561234</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Critical</td>
        <td>google.com.br</td>
        <td>Email accounts not working</td>
        <td>Hi, email accounts are not retrieving new emails</td>
        <td>avinia Everil</td>
        <td>4567890</td>
      </tr>
    </tbody>
  </table>